.footer {
    padding-top: 3.1875rem;
    background: $darkBlue;


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
          }
    }

    &__logos {
        display: flex;
        flex-direction: column;

        @include breakpoint-up(large) {
            align-self: baseline;
            // padding-top: 0.75rem;
        }

        .site-logo {   
            height: 1.25rem;
            width: 8.75rem;
            margin-bottom: 1.8125rem;
            align-self: center;

            @include breakpoint-up(large) {
                
                margin-bottom: 3.4375rem;
                align-self: flex-start;
                
            }
        }

        .social-media {
            img {
                width: 1.4375rem;
                height: 1.375rem;
                align-self: center;
                
                &:not(:last-child) {
                    margin-right: 0.875rem;
                  }
            }
        }
    }

    &__openHours {
        display: flex;
        flex-direction: column;
        margin-top: 2.1875rem;

        @include breakpoint-up (large) {
            align-self: baseline;
        }

        h3 {
            font-size: $font-med;
            color: $white;
        }
        p {
            margin: 0;
        }
        

        @include breakpoint-up(large) {
            text-align: left;
            // flex-direction: row;
            justify-content: space-between;
            // margin-left: 8.25rem;
            margin-top: 0;

            
        }
    }

    &__location {
        display: flex;
        flex-direction: column;
        margin-top: 2.1875rem;
        color: $grayishBlue;
        line-height: 1.5rem;

        @include breakpoint-up (large) {
            align-self: baseline;
        }

        h3 {
            font-size: $font-med;
            color: $white;
        }

        p {
            margin: 0px;
            font-size: 0.95rem;
        }

        @include breakpoint-up(large) {
            text-align: left;
            // flex-direction: row;
            // justify-content: space-between;
            // margin-left: 8.25rem;
            margin-top: 0;

            
        }
    }

    &__btnCopyright {
        margin-top: 2.3125rem;
        display: flex;
        flex-direction: column;
        align-content: center;

        @include breakpoint-up(large) {
            display: flex;
            flex-direction: column;
            justify-self: right;
        }

        button {
            
        }

        small {
            margin-top: 1.75rem;
            font-size: 0.75rem;
        }
    }

    
}