.hero {
  background: $veryLightGray;
  top: 60px;


  .container {
    @include breakpoint-up(large) {
      display: flex;

      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("../resources/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 67%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 100%;
      min-height: 41rem;
      background-size: cover;
      background-image: url("../resources/images/bg-intro-desktop.svg");
      background-position: left center;
      background-image: none;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("../resources/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 52%;
      }

      @include breakpoint-up(large) {
       
        // height: 122%;
        // width: 120%;
        // background-image: url("../resources/images/image-mockups.png");
        // background-size: 94%;
        // background-repeat: no-repeat;
        // background-position: center 150%;
        // top: 0%;
        // left: 22%;

        height: 124%;
        width: 134%;
        background-image: url("../resources/images/image-mockups.png");
        background-size: 94%;
        background-repeat: no-repeat;
        background-position: center 86%;
        top: 0%;
        left: 15%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      // background-image: url('../resources/images/bg-intro-desktop.svg');
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      

      @include breakpoint-up(large) {
        width: 150%;
        background-size: 122%;
        background-image: url("../resources/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: 0% 83%;
      }

      @include breakpoint-up(xlarge) {
        width: 164%;
    background-size: 128%;
    background-image: url("../resources/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0% 81%;
      }
    }
  }

  &__text {
    text-align: center;
    @include breakpoint-up(large) {
      flex: 2;
      text-align: left;
    }

    h1 {
      font-weight: 300;
      line-height: 1.15;
      font-size: 2.31rem;
      color: $darkBlue;
      margin-bottom: 1.5rem;

      @include breakpoint-up(large) {
        font-size: $font-xlg;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;

      // @include breakpoint-up(large) {
      //   font-size: $font-lg;
      // }
    }
  }
}
